/* App-level styles */

/* The reference footer uses Instagram, Facebook, and LinkedIn only. */
footer > div > div > div:last-child > div:last-child > a[aria-label="Airbnb"] {
	display: none;
}

@media (max-width: 639px) {
	main > section:first-of-type form > button {
		width: calc(100% - 2rem) !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

@media (min-width: 640px) and (max-width: 1023px) {
	main > section:first-of-type form > button {
		width: calc(100% - 3rem) !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

@media (min-width: 640px) {
	main a[href^="/areas/"] h3 {
		font-size: 1.125rem;
	}
}